
<section *ngIf="!selectedCourse">
  <h1> Courses </h1>
  <h4> Select a course to view enrolled students: </h4>
  <div>
    <mat-nav-list>
      <mat-list-item *ngFor="let course of courses" (click)="selectCourse(course)">
          <h4 mat-line>{{ course.id }}</h4>
          <p mat-line>{{course.description}}</p>
      </mat-list-item>
    </mat-nav-list>
  </div>
</section>

<section *ngIf="selectedCourse">
  <div>
    <h1> {{selectedCourse.description }} </h1>
    <button (click)="deselectCourse()">Return to courses</button>
    <mat-nav-list>
      <mat-list-item *ngFor="let student of selectedCourse.students">
          <h4 mat-line>{{ student }}</h4>
      </mat-list-item>
    </mat-nav-list>
  </div>
</section>